body {
    font-family: Arial, Helvetica, sans-serif;
}
/* CONTAINER 1*/
.container1 {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    gap: 800px;
}

.logo {
    width: 80px;
    margin-left: 0px50px;
}

.headlinks {
    display: flex;
    color: white;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 5px;
}

/* CONTAINER 2 */

.container2 {
position: relative;
}

.container2 .container201 {
display: flex;
flex-direction: column;
position: absolute;
margin: 120px;
align-items: flex-end;
}

.container2 .title{
    font-size: 100px;
    margin-bottom: 10px;
    color: #deb887;
    text-shadow:
        0 0 5px #fff,
        0 0 8px #fff,
        0 0 15px #fff,
        0 0 32px #ffa500,
        0 0 72px #ffa500,
        0 0 82px #ffa500,
        0 0 92px #ffa500,
        0 0 121px #ffa500;

}

.container2 .subtitle {
    font-size: 30px;
    font-style: oblique;
    margin-bottom: 20px;
    margin-right: 50px;
    color: #a52a2a;
    text-shadow:
    0 0 5px #ffa500,
    0 0 8px #ffa500,
    0 0 15px #ffa500,
    0 0 32px #8b4513,
    0 0 72px #8b4513,
    0 0 82px #8b4513,
    0 0 92px #8b4513,   
    0 0 121px #8b4513;
}
.image {
width: 100%;
}

/* CONTAINER 3  */

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 70px;
}

.container3 .title {
    font-size: 50px;
    font-family: "Annie Use Your Telescope"; font-style: italic; font-variant: normal; font-weight: bold; }

.images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
    margin-bottom: 30px;
}

.gen {
    width: 300px;
    height: 250px;
}

.spoty {
    width: 300px;

}

.fanart {
    width: 200px;
    height: 250px;
}

.coffee {
    width: 200px;
}

.subtitles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Annie Use Your Telescope"; font-size: 20px; font-style: italic; font-variant: normal; font-weight: bold; }

.coffee {
    text-align: center;
}

/*  CONTAINER 4  */

.container4 {
    background-color: #632626;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container401 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #FFEDDB;
    text-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 8px #ffa500,
        0 0 15px #ffa500,
        0 0 25px #ffa500,
        0 0 40px #ffa500,
        0 0 51px #ffa500;
}

.container401 div {
    margin-bottom: 10px;
}


.container402 {
    margin-left: 500px;
    font-size: 20px;
    font-style: oblique;
    margin-bottom: 20px;
    margin-right: 50px;
    color: #FFEDDB;
    text-shadow:
    0 0 5px #ffa500,
    0 0 8px #ffa500,
    0 0 15px #ffa500,
    0 0 32px #8b4513,
    0 0 72px #8b4513,
    0 0 82px #8b4513,
    0 0 92px #8b4513,   
    0 0 121px #8b4513;
}


/*  CONTAINER 5  */

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url(https://wallpaperaccess.com/download/lofi-girl-2223409);
    border: 1px;
}

.container501 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 800px;
    gap: 50px;
    border: 1px solid;
    background-color: #E5B299;
    border-radius: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contct {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #402218;
    font-family: "Annie Use Your Telescope";
}

.join {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #865439;
    font-family: "Annie Use Your Telescope"; 
}

.button {
    border-radius: 9px;
    background-color: white;
    padding: 15px 30px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 15px;
    font-weight: bold;
}

/* CONTAINER 6  */

.container6 {
    display: flex;
    background-color: #1f2937;
    padding: 10px 0px;
    justify-content: center;
}

.url {
color: white;
text-decoration: none;
}